
#Python dependencies for CLI Calculator project

setuptools==75.6.0              #setuptools is a package development and distribution tool
breathe==4.36.0                 #breathe is a Sphinx extension for C++ documentation
pytest==7.4.0                   #pytest is a testing framework
sphinx==7.0.1                   #sphinx is a documentation generator
sphinx-rtd-theme==1.3.0         #sphinx-rtd-theme is a theme for Sphinx documentation
sphinxcontrib-napoleon==0.7     #sphinxcontrib-napoleon is a Sphinx extension for Google and NumPy style docstrings
